/* style.css */

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.task-1-wrapper {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: start;
}

#chart-container-task1 {
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 340px;
    display: flex;
    /* Khoảng cách giữa biểu đồ task 1 và đầu trang */
}

.review1 {
    width: 400px;
    position: absolute;
    right: 5%;
    bottom: 30%;
}

#chart-container-task2 {
    display: inline-block;
    margin-top: 20px;
    margin-left: 400px;
    /* Khoảng cách giữa biểu đồ task 2 và đầu trang */
}


svg {
    overflow: visible;
}

.axis text {
    font-size: 10px;
    /* Reduced font size for axis labels */
}

.bar-label {
    font-size: 10px;
    /* Reduced font size for bar labels */
}

.bar {
    transition: fill 0.2s;
    /* Add transition effect for bar color */
}

.bar:hover {
    fill: darkorange;
    /* Change color on hover */
}

.axis-x-label {
    margin-top: 10px;
    /* Thêm khoảng cách 10px giữa nhãn trục x và trục hoành */
}

.bold-text {
    font-weight: bold;
}

.comment-container {
    margin-left: 30px;
    margin-right: 30px;
}