body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.task-1-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: start;
}

.task-2-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: start;
  padding-left: 10%;
}

#chart-container-task1 {
  display: inline-block;
  margin-top: 30px;
}

#chart-container-task2 {
  display: inline-block;
  margin-top: 30px;
}

svg {
  margin-top: 50px;
}


.bar2:hover {
  fill: red;
  cursor: pointer;
}

.review1 {
  width: 400px;
  position: absolute;
  right: 5%;
  bottom: 30%;
}

.review2 {
  width: 400px;
  position: absolute;
  right: 6%;
  bottom: 30%;
}