body {
  font-family: Arial, sans-serif;
  flex-direction: column;
}

.task-1-wrapper {
  width: 100%;
  justify-content: center;
}

.task-2-wrapper {
  width: 100%;
  justify-content: center;
}

#chart-container-task1 {
  /* display: inline-block; */
  margin-top: 30px;
}

#chart-container-task2 {
  /* display: inline-block; */
  margin-top: 30px;
}

svg {
  margin-top: 50px;
}


.bar2:hover {
  fill: red;
  cursor: pointer;
}